link(rel="stylesheet", href="css/vendor/bootstrap.css")

.hero-unit
  h1 About This Framework
  br
  .container-fluid
    p This Node.JS framework is designed to perform as a modern single-page application with support for both desktop and mobile devices using <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a> and <a href="http://maker.github.com/ratchet/">Ratchet</a> respectively.  You can watch it transform before your eyes by resizing the page!
    p This framework also includes Bechtel SSO built-in with a working example of our Contacts API using RPC over websockets provided by the <a href="http://github.com/wearefractal/vein">Vein</a> Node.JS module.  This is a much faster method of fetching API/JSON data than traditional AJAX.
    p The single-page routing and data-bindings are provided by the <a href="http://github.com/wearefractal/dermis">Dermis</a> Node.JS module with support of Jade templating.
