link(rel="stylesheet", href="css/vendor/bootstrap.css")

.row
  .span12
    center 
      span(style="color:#fff") 
        p <b>Searching: #{search}</b>
      br
    .row
      for p in people
        .well.span5
          h4 #{p.FirstName} #{p.LastName}
          p #{p.PhoneNumber}