.row
  .span2
      .well.sidebar-nav
        ul.nav.nav-list
          li.nav-header Navigation
          li: a Test

  .span10
    .row
      for p in people
        .well.span4
          h4 #{p.FirstName} #{p.LastName}
          p #{p.PhoneNumber}