link(rel="stylesheet", href="css/vendor/ratchet.css")
header.bar-title
  a.button-prev(href="#/") Back
  h1.title Application
  //a.button-next(href="#") Next

nav.bar-tab
  ul.tab-inner
    li.tab-item.active
      a(href="/#")
        img.tab-icon(src="/img/glyphicons_020_home.png")
        div.tab-label Home
    li.tab-item
      a(href="/#/settings")
        img.tab-icon(src="/img/glyphicons_003_user.png")
        div.tab-label Profile
    li.tab-item
      a(href="", onclick="logout()")
        img.tab-icon(src="/img/glyphicons_136_cogwheel.png")
        div.tab-label Logout

div.content
  ul.list
    li Settings...

