.container
  .demo-headline
    h1.demo-logo MapIt! Project Overlay
      small Convert Your Project's KML overlay for use with MapIt!
  .map-load
    .login-screen
      h3 You Did It!!! 
      .span8
        p Your file is now loaded into the system...
    p
      a(href="#/") home page
